.con-fluid{
    background-color: whitesmoke;
    padding: 20px;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
    position: fixed;
    z-index: 99;
}
.logo > img{
    height: 100px;
}
.menu{
    height: 100px;
}
.menu > ul{
    list-style-type: none;
    text-transform: uppercase;
    font-family: sans-serif;
}
.menu > ul > li{
    display: inline-block;
    position: relative;
}
.menu > ul > li > a{
    color: gray;
    text-decoration: none;
    padding: 20px 15px;
    line-height: 100px;
}
.menu > ul > li:hover > a{
    color: white;
    background-color: blueviolet;
    border-radius: 5%;
}
.sub-menu{
    position: absolute;
    width: 210px;
    background-color: whitesmoke;
    margin-top: -22px;
    display: none;
}
.sub-menu > ul{
    padding: 0px;
    margin: 0px;
}
.sub-menu > ul > li{
    list-style-type: none;
}
.sub-menu > ul > li >a{
    display: block;
    color: black;
    text-decoration: none;
    font-family: sans-serif;
    padding: 5px 10px;
}
.sub-menu > ul > li:hover > a{
    background-color: blueviolet;
    color: white;
}
.menu > ul > li:hover .sub-menu{
    display: block;
}
.slide{
    width: 100%;
    position: relative;
}
.slide > img{
    width: 100%;
    height: 100%;
}
.slide-content{
    position: absolute;
    top: 200px;
    width: 600px;
    background-color: rgba(63, 58, 58, 0.7);
    left: 100px;
    padding: 10px;
}
.slide-content > h1{
    color: rgb(28, 20, 138);
    font-weight: bold;
    text-shadow: 0px 0px 3px whitesmoke;
    text-transform: uppercase;
}
.slide-content > p{
    color: white;
    padding: 0px 0px 0px 10px
}
.slide-content > a{
    margin: 0px 0px 15px 30px;
}
.slide-content > a:hover{
    background-color: transparent;
}
.body-fluid{
    height: 500px;
    width: 100%;
    position: relative;
    padding: 10px;
}
.left-logo{
    position: absolute;
    height: 100%;
    z-index: 5;
}
.left-logo img{
    height: 100%;
    position: absolute;
}
.text-content{
    position: absolute;
    left: 25%;
}
.text-content h2{
    color: rgb(26, 207, 26);
    font-weight: bolder;
}
.text-content p{
    color: rgb(57, 58, 59);
    font-size: 1.5em;
    text-align: left;
}
.left-logo a{
    position: absolute;
    bottom: 30%;
    right: 10%;
}
.left-logo a:hover{
    background-color: transparent;
    color: green;
}
.right-logo{
    height: 100%;
    position: absolute;
    right: 2%;
}
.right-logo img{
    height: 100%;
}